{% extends 'threeColumns.html.twig' %}
{% import 'macros.html.twig' as formRender %}

{% block content %}
    {% set contributorsController, hasSupervisor, numInfos, numTasks, autoRows, titlesPrefix, positionPrefix = 'Contributors--contributors', contributorsArray[1]['tasks']['supervision'] is defined, infos|length, tasks|length, 'grid-auto-rows: 2rem;', 'contributors.titles.', 'multiple.position.' %}
    <div {{ stimulus_controller(contributorsController,{
            'committeeType': committeeParams['committeeType'],
            'contributors': contributorsArray|json_encode,
            'title': [(titlesPrefix~'add')|trans,(titlesPrefix~'edit')|trans]|json_encode,
            'positions': positions|json_encode,
            'committeeStudent': committeeStudent,
            'hasSupervisor': hasSupervisor,
            'isQualification': isQualification,
            'noChoice': 'multiple.choiceTextHint'|trans,
            'infos-names': infos|json_encode,
            'institution-label': institutionLabel|json_encode,
            'phone-label': phoneLabel|json_encode,
            'tasks-names': tasks|json_encode}) }} class="MetaData-Widget">
        <div class="minAutoGrid borderLight" style="padding: 0">
            <div class="grid align-items-center column-gap-2" style="grid-template-columns: repeat(2,min-content); {{ autoRows }}">
                {% for index, contributor in contributorsArray %}
                    {% if not (index is same as 0 or index is same as 1 and hasSupervisor) %}
                        <button type="button" class="Button_primary_act" style="grid-area: {{ loop.index+2 }} / 1; height: fit-content" id={{"remove"~(index) }} {{ stimulus_action(contributorsController,'removeContributor','click') }}>{{ include('images/delete.svg') }}</button>
                    {% endif %}
                    <button type="button" style="grid-area: {{ loop.index+2 }} / 2; height: fit-content" class="Button_primary_act" data-bs-id={{ "edit"~(index) }} data-bs-toggle="modal" data-bs-target="#formModal">{{ include('images/edit.svg') }}</button>
                {% endfor %}
            </div>
            {% set style = 'padding: 0.2rem; ' %}
            {% set borderStyle = style~'border-top: none; border-bottom: none;' %}
            <div class="grid ms-2 pb-2" style="grid-template-columns: repeat({{ numInfos+numTasks }},auto); {{ autoRows }} min-width: unset; overflow-x: auto; white-space: nowrap">
                <div class="borderLight" style="grid-column: span {{ numInfos }}; {{ borderStyle }} margin-right: -0.05rem">{{ (titlesPrefix~'infos')|trans }}</div>
                <div style="grid-column: span {{ numTasks }}; {{ borderStyle }}">{{ 'contributors.tasks.title'|trans }}</div>
                {% for task in tasks %}
                    {% set borderStyle = style~'border-right: none;' %}
                    <div class="borderLight" style="grid-area: 2 / {{ loop.index }}; {{ borderStyle }}">{{ ('multiple.infos.'~infos[loop.index0])|trans }}</div>
                    <div class="borderLight" style="grid-area: 2 / {{ loop.index+6 }}; {{ borderStyle }}">{{ ('contributors.tasksShort.'~task)|trans }}</div>
                {% endfor %}
                {% for contributor in contributorsArray %}
                    {% set index, curInfos, curTasks, curRow = loop.index0, contributor['infos'], contributor['tasks'], loop.index+2 %}
                    {% for task in tasks %}
                        {% set id, curInfo, isOther, isTask, curCol = task~index, curInfos[infos[loop.index0]] ?? '', task is same as 'other', task in curTasks|keys, loop.index %}
                        <div class="me-2" style="grid-area: {{ curRow }} / {{ curCol }}">{{ curInfo in positions|keys ? ('multiple.position.'~curInfo)|trans : curInfo }}</div>
                        <input id="{{ id }}" style="display: none" disabled>
                        <label for="{{ id }}" {% if not isOther %} class="CheckBox-Label flex {% if isTask %} checkBoxChecked {% endif %}" disabled {% endif %} style="grid-area: {{ curRow }} / {{ curCol+numInfos }}; {% if not isOther %} justify-self: center{% endif %}">{{ isOther and isTask ? curTasks['other'] }}</label>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <button type="button" class="Button_primary_act mt-2" style="margin-left: 0.3rem" data-bs-toggle="modal" data-bs-target="#formModal" data-bs-id="add">{{ include('images/add.svg') }}</button>
        <div class="mt-4">{{ 'contributors.hint'|trans|raw }}</div>
        {{ formRender.addSubmitButtons() }}
        {% set prefix = 'contributors.buttons.' %}
        {{ include('components/formModal.html.twig',{modalTitle: '', modalBody: 'Contributors/addEditContributor.html.twig', leftButton: (prefix~'confirm')|trans, rightButton: (prefix~'cancel')|trans, footerError: (prefix~'error')|trans, targetCont: contributorsController, formTarget: 'modal', labelTarget: 'modalLabel', submitTarget: 'modalSubmit', footerTarget: 'modalFooter'}) }}
    </div> {# entire form including stimulus controller #}
{% endblock %}

{% block preview %}
    {{ formRender.addPreview() }}
{% endblock %}