{% extends 'threeColumns.html.twig' %}
{% import 'macros.html.twig' as formRender %}

{% set title = 'pages.checkDoc.title'|trans %}
{% block title %}
    {{ 'pages.tabName'|trans~title }}
{% endblock %}
{% block pageTitle %}
    <h2 class="MetaDataGroup-Title">{{ title }}</h2>
{% endblock %}
{% block content %}
{#    <h2 class="MetaDataGroup-Title">{{ 'pages.checkDoc.title'|trans }}</h2>#}
    <div class="MetaData-Label">{{ text|raw|nl2br }}</div>
    <div class="MetaData-Widget mt-8 mb-2"><button type="button" class="Button_primary_go" style="margin-top: 0.5rem" onclick="window.location.href='{{ path('app_main') }}'">{{ 'buttons.backToMain'|trans }}</button></div>
{% endblock %}

{% block preview %}
    {{ formRender.addPreview() }}
{% endblock %}