{% extends 'threeColumns.html.twig' %}
{% import 'macros.html.twig' as formRender %}

{% block content %}
    {% set pre, translationPrefix, informationController = content.pre, 'projectdetails.pages.information.', 'Projectdetails--information' %}
    {% set preValue, isFull, isInformationIIhint, preAbortPrefix = pre.vars.value, isInformation and 'full' in reviewProcess, not isInformation and reviewProcess is not same as 'fullRequested', translationPrefix~'preAbort.textHints.' %}
    {% set choiceTextHintTrans, informationHintName, addresseeStringParam, preAbortHints = choiceTextHint|trans, 'informationIIIhint', {'addressee': isInformation ? addresseeString : participantsString}, {'abortOther': (preAbortPrefix~'abortOther')|trans, 'abortNo': (preAbortPrefix~'abortNo')|trans} %}
    <div {{ stimulus_controller(informationController,{
            'pre': preValue,
            'informationHintName': informationHintName
    }) }}>
        {# pre #}
        {% set styleHeight, preHintDiv, preYes, preNo = addStyle('height: '~textHeight), 'preHintDiv', 'preYes', 'preNo' %}
        {% set isPreNo, textParams = preValue is same as '1', fontNormal|merge({'attributes': styleHeight, 'textHintParams': addresseeStringParam|merge({'participant': isInformation ? participantsString : participantsStringpost})}) %}
        <div id="pre" {% if isFull %} {{ stimulus_action(informationController,'setPreTextPDF','change') }} {% endif %}>
            {{ formRender.renderButtons(pre,{
                'text': [content.preText,textParams|merge({'visibility': isPreNo})|
                    merge(isFull ? {'contTarget': [informationController,'preText']}|merge(reviewProcess is same as 'fullDocs' ? {'transfer': [['info','post'],addresseeType]} : {}) : {})],
                'stimVisible': {'values': [['0',preYes],['1',['preTextDiv',preNo]|
                    merge(isInformation and textInputPre is not same as '' ? [preHintDiv] : [])]]},
                'removeHint': [[textInputPre],preHintDiv,isPreNo]}|
                merge(isInformation ? {'contTarget': ['pre1',informationController,'preNo']} : {})) }}
        </div>
        <div id="{{ preYes }}" class="mt-8" style="{{ boolToDisplay(preValue is same as '0') }}" {{ stimulus_target(informationController,'preContent') }}>
            {% if content.preType is defined %}
                {{ _self.addType(true,content.preType,isInformationIIhint,addresseeType,'preType',[informationController]) }}
            {% endif %}
            {# pre content #}
            {% set preContent = content.preContent %}
            {% set preContentSelection = preContent.vars.value %}
            {{ formRender.renderButtons(preContent,{
                'labelParams': addresseeStringParam,
                'hint': [translationPrefix~'pre.content.',addresseeStringParam],
                'stim': [informationController,'setPreContent'],
                'addDiv': ['preContent'],
                'removeHint': [[informationIIIinput],'preContentHint',preContentSelection in ['','complete']]}) }}
            {# complete post if incomplete or deceit #}
            {% set preComplete, preCompleteTextHint = content.preComplete, (translationPrefix~'textHints.preComplete')|trans(addresseeStringParam) %}
            {% set preCompleteValue = preComplete.vars.value %}
            {% set anyComplete, isPreComplete = preCompleteValue is not same as '', preCompleteValue is same as '0' %}
            <div class="mt-8" id="preComplete" style="{{ boolToDisplay(preContentSelection in ['partial','deceit']) }}" {{ stimulus_target(informationController,'preComplete') }}>
                {{ formRender.renderButtons(preComplete,{
                    'text': [content.preCompleteText,fontNormal|
                        merge({'contTarget': [informationController,'preCompleteText'], 'attributes': styleHeight|merge({'disabled': not anyComplete}), 'hint': anyComplete ? preCompleteTextHint : choiceTextHint, 'textHintParams': addresseeStringParam, 'textHintID': 'preCompleteTextHint'})],
                    'stim': [informationController,'setPreComplete',{'hint': [choiceTextHintTrans,preCompleteTextHint]}]}|
                    merge(isInformation ? {'removeHint': [[informationIIIinput],informationHintName,not isPreComplete]} : {})) }}
                {{ _self.addType(isPreComplete,content.preCompleteType,false,addresseeType,'completePostType',[informationController,'preCompleteType']) }}
                {# debriefing if withdrawal from participation #}
                {% set preAbort, tempPrefix = content.preAbort, translationPrefix~'preAbort.hints.' %}
                {% set preAbortValue = preAbort.vars.value %}
                <div class="mt-8" id="preAbort" style="{{ boolToDisplay(isPreComplete) }}" {{ stimulus_target(informationController,'preAbort') }}>
                    {{ formRender.renderButtons(preAbort,{
                        'icons': {'preAbortabortContact': tempPrefix~'abortContact', 'preAbortabortButton': tempPrefix~'abortButton'},
                        'text': [content.preAbortDescription,fontNormal|
                            merge({'hint': preAbortHints[preAbortValue is same as 'abortOther' ? 'abortOther' : 'abortNo'], 'visibility': preAbortValue in ['abortOther','abortNo'], 'textHintID': 'preAbortDescriptionHint'})],
                        'stim': [informationController,'setPreAbort',{'hints': preAbortHints}]
                    }) }}
                </div>
            </div>
        </div>
        {# post #}
        {% set post, postType = content.post, 'postType' %}
        {% set postValue = post.vars.value %}
        {% set postHint, postText, isPostNo = 'postHint', content.postText, postValue is same as '1' %}
        <div id="{{ preNo }}" class="mt-8" style="{{ boolToDisplay(isPreNo) }}" {% if isFull %} {{ stimulus_action(informationController,'setPreTextPDF','change') }} {% endif %}>
            {{ formRender.renderButtons(post,{'text': [postText,textParams|
                    merge({'visibility': isPreNo and isPostNo})|
                    merge(isInformation ? {'contTarget': [informationController,'postText']} : {})],
                'stimVisible': {'values': [['0',postType],['1',[postText.vars.name~'Div']|
                    merge(textInputPost is not same as '' ? [postHint] : [])]]},
                'removeHint': [[textInputPost],postHint,isPostNo]}|
                merge(isInformation ? {'contTarget': ['post0',informationController,'postYes']} : {})) }}
            {{ _self.addType(isPreNo and postValue is same as '0',content.postType,isInformationIIhint,addresseeType,postType,[informationController]) }}
        </div>
        {# attendance #}
        {% if content.attendance is defined %}
            {{ formRender.renderButtons(content.attendance,{'addDiv': ['attendance']}) }}
        {% endif %}
        {# document translation #}
        {% set docTransString, pdfDiv = 'documentTranslation', 'translationPDFdiv' %}
        {% if content[docTransString] is defined %}
            {% set docTrans, description, pdfString = content[docTransString], docTransString~'Description', docTransString~'PDF' %}
            {% set isDocTrans = docTrans.vars.value is same as '0' %}
            <div class="mt-8" id="documentTranslation" {{ stimulus_target(informationController,docTransString) }}>
                {{ formRender.renderButtons(docTrans,{
                    'text': [content[description],fontNormal|merge({'visibility': isDocTrans})],
                    'stimVisible': {'values': [['0',[description~'Div',pdfDiv]]]}}) }}
                <div class="mt-4" id="{{ pdfDiv }}" style="{{ boolToDisplay(isDocTrans) }}">
                    {% if content[pdfString] is defined %}
                        {{ formRender.addHint(translationPrefix~docTransString~'.pdf.hint') }}
                        <div class="MetaData-Widget">
                            {{ formRender.addCheckbox(content[pdfString]) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {{ formRender.addSubmitButtons() }}
    </div> {# entire form including stimulus controller #}
{% endblock %}

{% block preview %}
    {{ formRender.addPreview([studyID,groupID,measureID]) }}
{% endblock %}

{% macro addType(visible, form, addPDF, addresseeType, id, target)  %}
    {# Adds a grid with a label asking for the type of information. Next it a group of radio buttons with the types are rendered. If pdf is not null, a button for selecting a pdf file is rendered, together with a div displaying the filename and an icon. Input arguments:
      visible:       true if the div should be visible, false otherwise
      form:          form with the types
      pdf:           if true, a hint is added that, when completing the application, a pdf must be uploaded
      addresseeType: addressee
      id:            id of the surrounding div
      target:        if provided, an array of one or two elements: stimulus controller and target name. If only one element is provided, it will be added to the renderButtons() call.
    #}
    {% set name, stimCont, translationPrefix = form.vars.name, target[0], 'projectdetails.pages.information.' %}
    <div id="{{ id }}" style="{{ boolToDisplay(visible) }}" {% if target[1] is defined %} {{ stimulus_target(stimCont,target[1]) }} {% endif %}>
        <div class="MetaData-Label mt-4">{{ form_label(form,null,labelDummy) }}</div>
        {{ formRender.renderButtons(form, noHeading|
            merge({'icons': {(name~'written'): translationPrefix~'type.hintWritten'}})|
            merge(name is not same as 'preCompleteType' ? {'contTarget': [name~'oral',stimCont,name~'Oral'], 'stim': [stimCont,'setDocumentTranslation']} : {})) }}
        {% if addPDF %}
            {% set prefix = 'projectdetails.addressee.' %}
            <div>{{ formRender.addHint(translationPrefix~'pdf',{'params': {'addressee': (prefix~'thirdParties.'~addresseeType)|trans, 'participant': (prefix~'participants.'~addresseeType)|trans}}) }}</div>
        {% endif %}
    </div>
{% endmacro %}