{% import 'macros.html.twig' as formRender %}
{% set isFilename, modalID, loadModalID = content['fileName']['titleValue'] is not empty, 'newFormModal', 'loadModal' %} {# isFilename: true if an application is open #}
{% set maxWidth = 'navBar.completeForm'|trans|length %}
{% set buttonWidth, isNewForm = 'width: '~(maxWidth-(maxWidth*0.25))~'rem', activeRoute is same as 'app_newForm' %}
{# width must sum up to 100% with the two divs in threeColumns #}
<div class="border rounded-lg shadow-sm sticky top-0 bg-mono-50 overflow-hidden" id="sidebar" style="height: fit-content; min-width: min-content; max-width: max-content; width: 20%" {{ stimulus_target('base','sidebar') }}>
    {# filename and project title #}
    {% for key, value in content %}
        <div class="MetaData-Label gap-x-4 {% if not isFilename%} px-2 {% endif %}" style="display: flex">
            <div class="whitespace-nowrap">{{ value['title'] }}</div>
            {% set title = value['titleValue']  %}
            {% if key is same as 'projectTitle' and (title|length)>50 %}
                {% set title = title|slice(0,49)~'...' %}
            {% endif %}
            <div style="word-break: break-word">{{ title }}</div>
        </div>
    {% endfor %}
    {# new form, load form, save #}
    <div class="NavBar mt-8" style="{{ buttonWidth }}">
        <a class="Button_primary_act {% if isNewForm %} a_disabled {% endif %}" {% if not isNewForm %} {% if isFilename %} data-bs-toggle="modal" data-bs-target="#{{ modalID }}" {% endif %} href="{{ path('app_newForm') }}" {% endif %}>{{ 'pages.newForm'|trans }}</a>
        <button class="Button_primary_act" type="button" {{ stimulus_target('base','load') }} {% if isNewForm %} disabled {% elseif isFilename %} data-bs-toggle="modal" data-bs-target="#{{ loadModalID }}" {% else %} {{ stimulus_action('base','setDummySubmit','click') }} {% endif %}>{{ 'navBar.loadForm'|trans }}</button>
        {{ formRender.addSaveButton('',not isFilename) }}
    </div>
    {# pages #}
    <div class="mt-8">
        {{ _self.createSideMenu(windows.AppData,isFilename,activeRoute,[],0) }}
        {% set isContributors = activeRoute is same as 'app_contributors' %}
        {% set isNotContributors = isFilename and not isContributors %}
        <a class="mx-2 mt-2 dropdownNav {% if isNotContributors %}StudyNav-NavItem Button_navigation {% elseif isContributors %}StudyNav-NavItem_active{% elseif not isFilename %}NavBarMain{% endif %}"
           nosubpage
           {% if isNotContributors %}
               href="{{ path('app_contributors') }}"
               {{ stimulus_action('base','setDummySubmit','click',{'url': 'app_contributors'}) }}
           {% endif %}
           style="width: fit-content; {% if not isFilename %} color: black; pointer-events: none{% endif %}"
        >
            {{ 'pages.contributors.contributors'|trans }}
        </a>
        {{ _self.createSideMenu(windows.Projectdetails,isFilename,activeRoute,routeParams,0,true) }}
    </div>
    {# check document #}
    <button class="Button_primary_go NavBar mt-8" style="{{ buttonWidth }}" {% if isFilename %} {{ stimulus_action('base','setDummySubmit','click',{'url': 'app_checkDoc'}) }} {% else %}disabled {% endif %}>{{ 'navBar.checkDoc'|trans }}</button>
    {# single documents and complete form #}
    <div class="NavBar mt-8" style="{{ buttonWidth }}">
        <button type="button" class="Button_primary_act" name="documents" {% if isFilename %} {{ stimulus_action('base','saveUndoDocuments','click') }} {% else %} disabled {% endif %}>{{ formRender.addButtonIcon('navBar.documents','pdf') }}</button>
        <button type="submit" class="Button_primary_go" {% if not (isFilename and isComplete) %} disabled {% else %} {{ stimulus_action('base','setDummySubmit','click',{'url': 'app_completeForm'})}} {% endif %}>{{ formRender.addButtonIcon('navBar.completeForm','pdf') }}</button>
    </div>
    {# program information and quit #}
    {% set quitModalID = 'quitModal' %}
    <div class="NavBar mt-8 mb-2" style="{{ buttonWidth }}">
        <button type="button" class="Button_primary_go" id="quit" name="quit" {% if isFilename %}data-bs-toggle="modal" data-bs-target="#{{ quitModalID }}" {% else %} {{ stimulus_action('base','setDummySubmit','click')}} {% endif %}>{{ formRender.addButtonIcon('navBar.quit','quit') }}</button>
    </div>
</div>
{% if isFilename %} {# must be outside the previous div because the div is sticky #}
    {% set quitPrefix = 'quitModal.'  %}
    {{ include('components/redirectModal.html.twig',{'modalID': modalID, 'prefix': 'main.newFormModal.', 'link': 'app_newForm'}) }}
    {{ include('components/redirectModal.html.twig',{'modalID': loadModalID, 'prefix': 'main.loadModal.', 'link': 'app_newForm', 'targetCont': 'base', 'redirectTarget': 'loadModal'}) }}
    {{ include('components/redirectModal.html.twig',{'modalID': quitModalID, 'prefix': quitPrefix, 'link': 'app_main', 'leftButton': quitPrefix~'leftButton', 'middleButton': quitPrefix~'middleButton', 'rightButton': quitPrefix~'rightButton'}) }}
{% endif %}

{% macro createSideMenu(window,isFilename,activeRoute,routeParams,level,isProjectdetails = false, visibility = false) %}
    {# Creates the side menu for the application data and project details pages. Input arguments:
        window:           array whose keys are the labels for the menu and values are either the route to a page or an array equally to window
        isFilename:       true if an application is open, i.e., if a filename exists
        activeRoute:      current page that is rendered
        routeParams:      parameter for the current page that is rendered. Only existent parameters are passed
        level:            current level. Top level is 0.
        isProjectdetails: if true, the side menu for the projectdetails pages is created, otherwise for the application data
        visibility:       visibility of the surrounding div
    #}

    <div class="{{ level>0 ? 'NavBar' : 'NavBarMain mt-2' }}" {% if level>0 %} style="{{ boolToDisplay(visibility,1) }} {% if isProjectdetails and level is same as 4 or not isProjectdetails and level is same as 1 %}; margin-left: 1.5rem; margin-right: 0{% endif %}" {% endif %}>
        {% set isActiveAppData = activeRoute in ['app_coreData','app_votes','app_medicine','app_summary'] %}
        {% for route in window %}
            {% set hasSubPages, routeIDs, curRoute = route.subPages is defined, route.routeIDs ?? {}, route.route %}
            {% set isRoute, numIDs = curRoute is not same as '', routeIDs|length %}
            {% set isActivePath = isActiveAppData and not isProjectdetails or isProjectdetails and routeParams is not same as {} and (routeParams|length is not same as numIDs or numIDs is same as 3) %}
            {% for key, id in routeIDs %}
                {% set isActivePath = isActivePath and (routeParams[key] ?? -1) is same as id %}
            {% endfor %}
            {% set isCurrentActive = curRoute is same as activeRoute and isActivePath %}
            {% if hasSubPages %}
                <div class="flex">
            {% endif %}
            <a class="{% if hasSubPages %} StudyNav-NavItem Button_navigation {% elseif isCurrentActive %} StudyNav-NavItem_active {% endif %}"
               {% if isFilename and isRoute and (not isCurrentActive or curRoute is same as 'app_landing') %}
                    href="{{ path(curRoute,routeIDs) }}"
                    {{ stimulus_action('base','setDummySubmit','click',{'route-i-ds': routeIDs, 'url': curRoute}|merge(hasSubPages ? {'page': isProjectdetails ? 'Projectdetails' : 'AppData'} : {})) }}
               {% endif %}
                style="width: fit-content; {% if not isRoute or not isFilename %}color: black; pointer-events: none{% endif %}"
               {% if not hasSubPages %}
                    nosubpage
               {% endif %}
            >
                {{ route.label }}
            </a>
            {% if hasSubPages %}
                <span class="{{ 'dropdown'~(isActivePath ? 'Expanded' : 'Collapsed') }} dropdownNav clickable" style="height: 1.5rem"></span>
                </div>
                {{ _self.createSideMenu(route.subPages,isFilename,activeRoute,routeParams,level+1,isProjectdetails,isActivePath) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}