{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as formRender %}

{% block body %}
    {% set isPreview, request, submitDummy, classes = pageTitle is not same as '', app.request, content.submitDummy, 'border rounded-lg shadow-sm' %}
    <div {{ stimulus_controller('base',
        {'route': request.get('_route'),
            'routeParams': request.get('_route_params'),
            'preview': preview ?? 0,
            'previewTab': previewTab ?? ''}) }} class="pb-5 grid">
        {{ include('components/header.html.twig',committeeParams|merge({'update': isUpdateTime})) }}
        {{ formRender.startForm(content) }} {# every controller needs to pass the data as 'content' #}
        <div style="display: none">{{ form_widget(submitDummy,addTargetArray('base','submitDummy')|merge({'id': submitDummy.vars.name})) }}</div> {#  id needed for dummy label #}
        <div style="display: none">{{ form_widget(content.loadInput,addTargetArray('base','loadInput')|merge({'id': content.loadInput.vars.name})) }}</div>
        <div class="bg-white flex flex-row flex-nowrap mx-auto gap-x-4 justify-content-center bg-white" style="max-width: 1600px">
            {# sidebar #}
            {# surrounding div is added in template because sidebar is sticky, but has a modal #}
            {{ render(controller('App\\Controller\\NavigationController::showNavigation', {'request': request})) }}
            {{ include('components/infoModal.html.twig',{'modalID': 'xmlLoad', 'targetName': 'xmlModal', 'prefix': 'multiple.loadMessage.failure.', 'params': {'type': 'xml'}}) }}
            {# content #}
            <div class="{{ classes }} bg-mono-50 fitHeight" style="width: {{ isPreview ? '45%' : '80%' }}" id="content" {{ stimulus_target('base','content') }}>
                {% block groupMeasureTitle %}
                    {% if multipleStudyGroupMeasure ?? false %}
                        <div class="m-0">
                            {% for type, values in {'study': [studyID,studyName], 'group': [groupID,groupName], 'measureTimePoint': [measureID,measureName]} %}
                                {% set name = values[1] %}
                                <div class="flex fitWidth {% if type is not same as 'study' %} mt-2 {% endif %}">
                                    {{ ('projectdetails.headings.'~type)|trans|capitalize~' '~values[0]~(name is not same as '' ? ' ('~name~')') }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock %}
                {% block pageTitle %}
                    {% if not ('landing' in pageTitle) %}
                        <h2 class="MetaDataGroup-Title">{{ pageTitle|trans }}</h2> {# variable is set in base if not defined #}
                    {% endif %}
                {% endblock %}
                {% block content %}
                {% endblock %}
                {{ form_end(content) }}
            </div>
            {% if isPreview %}
                <div style="width: 35%">
                    {% set classes = classes~' scrollbar scrollbar-thumb-gray-400 scrollbar-thin scrollbar-track-gray-100 overflow-y-auto' %}
                    <div class="sticky top-0" style="min-width: 390px;; max-width: 211mm">
                        {# error messages #}
                        {% if not ('completeForm' in pageTitle or 'checkDoc' in pageTitle) %} {# complete form is the only page with preview, but without error messages #}
                            <div class="{{ classes }} mb-2" id="checkDoc" style="height: min-content; max-height: 150px; word-break: break-word" {{ stimulus_target('base','checkDoc') }}>
                                <div style="margin-left: 0.6rem; margin-right: 0.6rem">{{ (pageErrors)|raw|nl2br }}</div>
                            </div>
                        {% endif %}
                        {# help/preview #}
                        <div class="{{ classes }} overflow-hidden bg-white max-h-[calc(100vh)]" id="preview" {{ stimulus_target('base','preview') }}>
                            {% block preview %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div> {# div including stimulus controller #}
    <footer id="page-footer" class="mt-auto">
        {{ render(path('app_footer')) }}
    </footer>
{% endblock %}