{% extends 'PDF/basePDF.html.twig' %}
{% import 'PDF/pdfMacros.html.twig' as pdfMacros %}
{% trans_default_domain 'pdf' %}
{% block pdfBody %}
    {% if not savePDF %}
        {{ pdfMacros.addLine() }}
    {% endif %}
    {% set prefix, style, textPreview = 'loanReceipt.', 'margin-top: 2em; page-break-inside: avoid', not savePDF ? 'previewSmall' %}
    <div class="pdfDocument">
        {{ pdfMacros.addHeader(committeeType,projectTitle,leaderInstitution,levelNames,savePDF,isComplete) }}
        <div class="pdfHeading" style="font-weight: bold; font-size: {{ not savePDF ? 'medium' : 'large' }}; margin-left: 0; margin-bottom: 2em">
            {{ heading|raw }}
        </div>
        {# legal hints #}
        {% if content is not same as [] %}
            {% for paragraph in content %}
                <div class="textJustify {{ textPreview }}" style="page-break-inside: avoid">{{ paragraph|raw|nl2br }}</div>
            {% endfor %}
        {% endif %}
        {# contact #}
        {% set tempPrefix = prefix~'contact.' %}
        <div class="{{ textPreview }}" style="{{ style }}; margin-bottom: 5em">
            {% for contact in ['name','eMail','further'] %}
                <div style="margin-bottom: 1em">{{ (tempPrefix~contact)|trans }}</div>
            {% endfor %}
        </div>
        {# confirmation and table of devices #}
        <i class="{{ textPreview }}">{{ confirm|raw|nl2br }}</i>
        <table class="{{ 'tableWidth'~(not savePDF ? 'Preview') }}" style="margin-bottom: 2em; margin-top: 20px; width: 100%; border-spacing: 0; border-collapse: collapse">
            <tr class="{{ textPreview }}" style="font-weight: bold">
                <td>{{ (prefix~'device')|trans }}</td>
                <td >{{ (prefix~'period')|trans }}</td>
            </tr>
            {% for index in 1..5 %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
        {{ pdfMacros.addSignature(savePDF,addressee) }}
        {# confirmation or return #}
        <div class="{{ textPreview }}" style="margin-top: 50px"><u>{{ (prefix~'return.title')|trans }}</u></div>
        <div class="{{ textPreview }}" style="{{ style }}">{{ (prefix~'return.text')|trans }}</div>
        {{ pdfMacros.addSignature(savePDF,addressee) }}
    </div>
{% endblock %}