{# used for loading a form into a modal #}
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true" data-modal-form-target="modal" data-bs-backdrop="static" data-bs-keyboard="false" {% if formTarget is defined %} {{ stimulus_target(targetCont,formTarget) }} {% endif %}>
    <div class="modal-dialog modal-content" style="max-width: max-content">
        <div class="modal-header">
            <h5 class="modal-title" {% if labelTarget is defined %} {{ stimulus_target(targetCont,labelTarget) }} {% endif %}>{{ modalTitle }}</h5>
        </div>
        <div class="modal-body">
            {{ include(modalBody) }}
        </div>
        <div class="modal-footer">
            <div style="margin-right: auto; white-space: normal; max-width: 400px" {% if footerTarget is defined %} {{ stimulus_target(targetCont,footerTarget) }} {% endif %}>{{ (footerError ?? '')|raw }}</div>
            <button type="submit" class="Button_primary_go Button_standalone" {{ stimulus_action('base','submitForm','click') }} name="modalSubmitButton" {% if submitTarget is defined %} {{ stimulus_target(targetCont,submitTarget) }} {% endif %}>{{ leftButton }}</button>
            <button type="reset" class="Button_primary_act Button_standalone" data-bs-dismiss="modal">{{ rightButton }}</button>
        </div>
    </div>
</div>